<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Three.js with npm</title>
    <style>
        body {
            margin: 0;
            overflow: hidden;
        }
        canvas {
            display: block;
        }
    </style>
</head>
<body>
    <script src="/js/bundle.js"></script>
</body>
</html>
